.table {
  display: flex;
  font-size: 14px;
  table {
    border-collapse: collapse;
    tr {
      border: 1px solid #e6e5e7;
      td,
      th {
        padding: 10px 30px;
        text-align: left;
        .radioBox {
          cursor: pointer;
        }
      }
    }
  }
}
