@import '../styles/common.less';

@concis-white-color: #ffffff;
@concis-disabled-color: #d9d9d9;

.concis-checkbox,
.concis-checkGroup,
.concis-dark-checkbox,
.concis-dark-checkGroup {
  display: inline-block;
  cursor: pointer;

  .concis-checkbox-content {
    display: flex;
    align-items: center;
  }

  &-actived,
  &-noActived,
  &-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: @concis-font-sm;
    height: @concis-font-sm;
    margin-left: 5px;
    padding: 7px;
    box-sizing: border-box;
    transition: 0.2s linear;
    border-radius: 5px;
  }

  &-disabled {
    border: 1px solid #858585;
    cursor: not-allowed;
  }

  &-actived {
    color: @concis-white-color;
    background: var(--global-color);
    border: 1px solid var(--global-color);
  }

  &-noActived {
    color: @concis-white-color;
    background: @concis-white-color;
    border: 1px solid @concis-disabled-color;

    &:hover {
      border: 1px solid #afacac;
    }
  }

  .text {
    margin-left: 5px;
    font-size: @concis-font-md;
    user-select: none;
  }

  .disabled {
    cursor: not-allowed;
  }
}

.disabled-checkbox {
  cursor: not-allowed;
  opacity: 0.3;

  .concis-checkbox-disabled {
    border: 1px solid #858585;
  }
}

.concis-checkGroup,
.concis-dark-checkGroup {
  .checkbox {
    display: flex;
    align-items: center;
  }

  .groupBox {
    margin-right: 10px;
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.concis-dark-checkbox,
.concis-dark-checkGroup {
  .text {
    color: @concis-dark-font-color;
  }
}
