//字号
@concis-font-xs: 10px;
@concis-font-sm: 12px;
@concis-font-md: 14px;
@concis-font-lg: 16px;

// 图标
@concis-icon-xs: 16px;
@concis-icon-sm: 18px;
@concis-icon-md: 20px;
@concis-icon-lg: 22px;

//颜色
@concis-primary-color: #325dff;
@concis-danger-color: #f53f3f;
@concis-info-color: #00b42a;
@concis-warning-color: #ff7d00;
@concis-disabled-color: #f2f3f5;
@concis-text-color: #ffffff;
//深色主题色系列
@concis-dark-primary-color: #3c7eff;
@concis-dark-danger-color: #b73f3f;
@concis-dark-info-color: #27c346;
@concis-dark-warning-color: #ff9626;
@concis-dark-disabled-color: #f2f3f5;
@concis-dark-text-color: #ffffff;
//深色主题字体颜色
@concis-dark-font-color: #ffffffe6;

//圆角
@concis-radius-xs: 5px;
@concis-radius-sm: 10px;
@concis-radius-md: 20px;
@concis-radius-lg: 50%;

//边距
@concis-transform-xs: 5px;
@concis-transform-ms: 10px;
@concis-transform-md: 15px;
@concis-transform-lg: 20px;
