@import '../styles/common.less';

@zindex-back-top: 10;

.concis-back-top {
  position: fixed;
  right: 100px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  z-index: @zindex-back-top;
  cursor: pointer;

  .default-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: @concis-radius-lg;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    svg {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      svg {
        fill: @concis-primary-color;
      }
    }
  }
}

.concis-dark-back-top {
  .default-child:hover svg {
    fill: @concis-dark-danger-color;
  }
}

.back-top-trigger-enter,
.back-top-trigger-appear {
  opacity: 0;
}

.back-top-trigger-enter-active,
.back-top-trigger-appear-active {
  opacity: 1;
  transition: opacity 100ms;
}

.back-top-trigger-exit {
  opacity: 1;
}

.back-top-trigger-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}
