{
  "presets": [
    [
        "@babel/preset-env",{
            "targets":{
                "node":"current"
            }
        }
    ]
  ],
  "plugins": [
      // 解决多个地方使用相同代码导致打包重复的问题
      ["@babel/plugin-transform-runtime"]
  ],
  "ignore": [
      "node_modules/**"
    ]
}