# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# logs
logs
*.log
/npm-debug.log*

# dependencies
/node_modules
/package-lock.json
/yarn.lock
/packages/*/node_modules
/examples/node_modules
/examples/yarn.lock
/packages/*/package-lock.json

# bundle files
/es
/docs-dist
/lib
/packages/*/dist
/packages/concis-react/web-react
/packages/concis-react-mobile/web-react-mobile

# misc
.DS_Store

# umi
.umi-production
.umi-test
.umi
.env.local

# ide
/.vscode
/.idea

# coverage
/coverage