# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules

/packages/concis-react/node_modules
/packages/concis-react/README.md
/packages/concis-react/README.zh-CN.md
/packages/concis-react/package-lock.json
/packages/concis-react/web-react

/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/lerna-debug.log
/es
/docs-dist
.DS_Store
/coverage
.umi
.umi-production
.umi-test
.env.local
/.vscode
/.idea
