@import '../../styles/common.less';

.concis-tabs {
  display: var(--align-way);
  &-header {
    &-line,
    &-text,
    &-round {
      padding: 8px 0;
      font-size: 14px;
      .header-option {
        padding: 8px 0;
        margin: 0 16px;
        transition: 0.1s linear;
        cursor: pointer;
      }
      .header-option-active {
        color: @concis-primary-color;
        transition: 0.1s linear;
      }
      .header-option-disabled {
        color: #c9cdd4;
        cursor: not-allowed;
      }
    }
    &-line {
      border-bottom: 1px solid #e5e6eb;
      .header-option {
        border-bottom: 1px solid transparent;
      }
      .header-option-active {
        border-bottom: 1px solid @concis-primary-color;
      }
    }
    &-round {
      .header-option {
        border-radius: 32px;
        padding: 8px 16px;
        margin: 0;
        &:not(.header-option-disabled):hover {
          background-color: #e5e5eb;
        }
      }
      .header-option-active {
        background-color: #e5e5eb;
      }
    }
  }
  &-bottom-header {
    &-line,
    &-text,
    &-round {
      padding: 8px 0;
      font-size: 14px;
      .header-option {
        padding: 8px 0;
        margin: 0 16px;
        transition: 0.1s linear;
        cursor: pointer;
      }
      .header-option-active {
        color: @concis-primary-color;
        transition: 0.1s linear;
      }
      .header-option-disabled {
        color: #c9cdd4;
        cursor: not-allowed;
      }
    }
    &-line {
      border-top: 1px solid #e5e6eb;
      .header-option {
        border-top: 1px solid transparent;
      }
      .header-option-active {
        border-top: 1px solid @concis-primary-color;
      }
    }
    &-round {
      .header-option {
        border-radius: 32px;
        padding: 8px 16px;
        margin: 0;
        &:not(.header-option-disabled):hover {
          background-color: #e5e5eb;
        }
      }
      .header-option-active {
        background-color: #e5e5eb;
      }
    }
  }
  &-header-position-vertical {
    &-line,
    &-text,
    &-round {
      padding: 8px 0;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      min-width: 80px;
      .header-option {
        padding: 10px 16px;
        transition: 0.1s linear;
        cursor: pointer;
      }
      .header-option-active {
        color: @concis-primary-color;
        transition: 0.1s linear;
      }
      .header-option-disabled {
        color: #c9cdd4;
        cursor: not-allowed;
      }
    }
    &-line {
      border-right: 1px solid #e5e6eb;
      .header-option {
        border-right: 2px solid transparent;
      }
      .header-option-active {
        border-right: 2px solid @concis-primary-color;
      }
    }
    &-round {
      .header-option {
        border-radius: 32px;
        padding: 8px 16px;
        margin: 0;
        &:not(.header-option-disabled):hover {
          background-color: #e5e5eb;
        }
      }
      .header-option-active {
        background-color: #e5e5eb;
      }
    }
  }
  &-content {
    width: 100%;
  }
}

.concis-dark-tabs {
  &-header {
    &-line {
      border-bottom: 1px solid #484849;
      .header-option-active {
        border-bottom: 1px solid @concis-dark-primary-color;
        color: @concis-dark-primary-color;
      }
    }
    &-text {
      .header-option {
        position: relative;
        &:not(:last-of-type)::after {
          content: '';
          position: absolute;
          right: -16px;
          top: 50%;
          transform: translateY(-50%);
          height: 12px;
          width: 2px;
          background-color: #3e3e3f;
        }
      }
    }
    &-round {
      .header-option {
        border-radius: 32px;
        &:not(.header-option-disabled):hover {
          background-color: #343436;
        }
      }
      .header-option-active {
        background-color: #343436;
      }
    }
    &-line,
    &-text,
    &-round {
      .header-option-disabled {
        color: #ffffff4d;
        cursor: not-allowed;
      }
    }
  }
  &-bottom-header {
    &-line {
      border-top: 1px solid #484849;
      .header-option-active {
        border-top: 1px solid @concis-dark-primary-color;
        color: @concis-dark-primary-color;
      }
    }
    &-text {
      .header-option {
        position: relative;
        &:not(:last-of-type)::after {
          content: '';
          position: absolute;
          right: -16px;
          top: 50%;
          transform: translateY(-50%);
          height: 12px;
          width: 2px;
          background-color: #3e3e3f;
        }
      }
    }
    &-round {
      .header-option {
        border-radius: 32px;
        &:not(.header-option-disabled):hover {
          background-color: #343436;
        }
      }

      .header-option-active {
        background-color: #343436;
      }
    }
    &-line,
    &-text,
    &-round {
      .header-option-disabled {
        color: #ffffff4d;
        cursor: not-allowed;
      }
    }
  }
  &-header-position-vertical {
    &-line {
      border-right: 1px solid #484849;
      .header-option {
        border-right: 2px solid transparent;
      }
      .header-option-active {
        border-right: 2px solid @concis-primary-color;
      }
    }
    &-text {
      .header-option {
        position: relative;
        &:not(:last-of-type)::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50% - 16px);
          height: 2px;
          width: 24px;
          background-color: #3e3e3f;
        }
      }
    }
    &-round {
      .header-option {
        border-radius: 32px;
        &:not(.header-option-disabled):hover {
          background-color: #343436;
        }
      }

      .header-option-active {
        background-color: #343436;
      }
    }
    &-line,
    &-text,
    &-round {
      .header-option-disabled {
        color: #ffffff4d;
        cursor: not-allowed;
      }
    }
  }
}
