@import '../styles/common.less';

@concis-button-white-color: #ffffff;
@concis-button-black-color: #000000;

.concis-button {
  display: inline-block;
  &-primary,
  &-danger,
  &-info,
  &-warning,
  &-disabled,
  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s linear;
  }
  &-primary,
  &-danger,
  &-info,
  &-warning {
    &:hover {
      opacity: var(--isDisabled);
    }
  }
  &-primary {
    color: @concis-button-white-color;
    background-color: @concis-primary-color;
  }
  &-danger {
    color: @concis-button-white-color;
    background-color: @concis-danger-color;
  }
  &-info {
    color: @concis-button-white-color;
    background-color: @concis-info-color;
  }
  &-warning {
    color: @concis-button-white-color;
    background-color: @concis-warning-color;
  }
  &-disabled {
    color: @concis-button-white-color;
    background-color: @concis-disabled-color;
  }
  &-text {
    color: @concis-button-black-color;
    background-color: @concis-text-color;
    border: 1px solid #ccc;
    &:hover {
      color: @concis-primary-color;
      border-color: @concis-primary-color !important;
    }
  }
  &-loading {
    width: @concis-font-xs;
    height: @concis-font-xs;
    margin-right: 10px;
    border: 2px solid var(--loading-icon-color);
    border-color: transparent var(--loading-icon-color) var(--loading-icon-color);
    border-radius: @concis-radius-lg;
    animation: 1s concis-button-loading infinite linear;
  }
  @keyframes concis-button-loading {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(100deg);
    }
    75% {
      transform: rotate(200deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
