@import '../styles/common.less';

.concis-divider {
  &-line {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 @concis-radius-sm;
  }
  &-before-line-text,
  &-after-line-text {
    flex: 1;
    height: 1px;
    color: #fff;
    border-color: inherit;
    border-bottom: 1px solid;
  }
  &-line-text {
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
  }
}
