@import '../styles/common.less';

@concis-white-color: #ffffff;
@concis-gray-color: #cccccc;

.concis-divider {
  &-line,
  &-dashed {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1px;
  }
  &-line-text {
    position: absolute;
    padding: 0 @concis-radius-sm;
  }
  &-line {
    border-top: 1px solid @concis-gray-color;
    &-text {
      background-color: @concis-white-color;
    }
  }
  &-dashed {
    border-top: 1px dashed @concis-gray-color;
    .line-text {
      border-top: 1px dashed @concis-white-color;
    }
  }
}
