@import '../../styles/common.less';
@concis-gray-color: #c5c5c5;
.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  min-height: 56px;
  padding: 5px 8px;

  font-size: 14px;
  font-family: PingFangSC-Regular;
  line-height: 22px;
  border: 1px solid #d9d9d9;
  border-radius: @concis-radius-xs;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.38, 0, 0.24, 1), height 0s;
  transition: all 0.3s cubic-bezier(0.38, 0, 0.24, 1), height 0s;
  resize: vertical;
  &:hover {
    background: #e4e4e4;
  }
  &:focus {
    background: #ffffff;
    border-color: var(--focus-color);
  }
}
.textarea-limit {
  position: absolute;
  right: 16px;
  bottom: 8px;
  color: @concis-gray-color;
  font-size: 14px;
}
.clear-svg {
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0 5px;
  color: #00000040;
  font-size: 12px;
  cursor: pointer;
}

.concis-dark-textarea {
  .textarea {
    color: @concis-dark-font-color !important;
    background: #232323;
    &:hover {
      background: #282828;
    }
    &:focus {
      background: #232323;
      border-color: var(--focus-color);
    }
  }
  & > .clear-svg {
    color: #c5c5c5;
  }
}
