@import '../styles/common.less';

@concis-select-width: 80px;
@concis-select-height: 30px;
@concis-select-placeholder-border-color: #cccccc;
@concis-select-background: #ffffff;
@concis-select-disabled-color: #c9cdd4;

.concis-select,
.concis-dark-select {
  position: relative;
  width: @concis-select-width;
  height: @concis-select-height;
  font-size: @concis-font-md;
  line-height: @concis-select-height;
  text-align: center;
  border: 1px solid @concis-select-placeholder-border-color;
  cursor: pointer;
  transition: 0.1s linear;
  user-select: none;

  .disabled-selected {
    color: @concis-select-disabled-color;
  }

  .selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 @concis-transform-xs;
    background: @concis-select-background;

    .size {
      margin-right: @concis-transform-xs;
    }

    .placeholder {
      margin-right: @concis-transform-xs;
      color: @concis-select-placeholder-border-color;
    }

    &:focus {
      border-color: var(--global-color);
    }
  }

  &:hover {
    border-color: var(--global-color);
  }

  input {
    border: none;
    outline: none;
  }

  .selectOptions {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    width: @concis-select-width;
    overflow: hidden;
    background-color: @concis-select-background;
    box-shadow: 0 0 20px 4px #9aa1b126, 0 4px 80px -8px #24282f40, 0 4px 4px -2px #5b5e6926;
    transition: 0.1s linear;
    z-index: 9999;

    .option {
      padding: 5px 0 5px 15px;
      font-size: @concis-font-md;
      line-height: 2em;
      text-align: left;
      cursor: pointer;

      &:hover:not(.disabled-option) {
        font-weight: 600;
      }
    }

    .disabled-option {
      color: @concis-select-disabled-color;
    }

    .select-option {
      padding: 5px 0 5px 15px;
      color: var(--global-color);
      text-align: left;
    }
  }
}

.concis-dark-select {
  .selected,
  .selectOptions,
  .option {
    color: #b0b0b0;
    background: #343436 !important;
  }

  .selectOptions {
    .disabled-option {
      color: #606060;
    }
  }

  .disabled-selected {
    color: #606060;
  }

  .select-option {
    background-color: #474749 !important;
  }
}

.selectOption-enter,
.selectOption-appear {
  height: 0;
  opacity: 0;
}

.selectOption-enter-active,
.selectOption-appear-active {
  height: var(--option-size);
  opacity: 1;
  transition: height 400ms, opacity 400ms;
}

.selectOption-exit {
  height: var(--option-size);
  opacity: 1;
}

.selectOption-exit-active {
  height: 0;
  opacity: 0;
  transition: height 400ms, opacity 400ms;
}
