.concis-popover-card {
  display: inline-block;
  width: auto;
  .open-container {
    position: relative;
    width: auto;
    .show-btn {
      display: inline-block;
      overflow: hidden;
    }
    .pop-dialog {
      position: absolute;
      z-index: 9999;
      padding: 5px 15px 15px 15px;
      overflow: hidden;
      background-color: #fff;
      border-radius: 15px;
      transition: 0.1s linear;
    }
  }
}
