.concis-collapse-item {
  // border-bottom: 1px solid rgba(229, 230, 235, 1);
  .collapse-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(229, 230, 235, 1);
    cursor: pointer;
    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-icon {
        font-size: 12px;
      }
      .header-text {
        margin-left: 10px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      .header-icon {
        margin-left: 10px;
        font-size: 12px;
      }
    }
  }
  .collapse-item-content {
    box-sizing: border-box;
    max-height: 0;
    padding: 0 10px;
    overflow: hidden;
    line-height: 30px;
    transition: max-height 0.2s;
  }
}
